<!--ACA SE INCLUYE EL PARTIAL : HEAD -->
<%- include("../partials/head.ejs") %>

  <body class="body_home">

    <!--ACA SE INCLUYE EL PARTIAL : HEADER -->
    <%- include("../partials/header.ejs") %>

      <main class="main__form main__formProfile">

        <div class="main__title__box">
          <hr class="main__form__lines">
          <h2 class="main__form__title">PROFILE</h2>
          <hr class="main__form__lines">
        </div>

        <form action="/users/profile/<%= usuarioLogeado.id %>?_method=PUT" method="post" class="main__form__register form_updateProfile"
          enctype="multipart/form-data">
          <label for="name">NOMBRE Y APELLIDO:</label>
          <input type="text" name="name" id="name" value="<%= usuarioLogeado.name %>" />
          <small class="nameErrors">
            <%= locals.errores && errores.name ? errores.name.msg : null %>
          </small>

          <label for="email">EMAIL:</label>
          <input type="email" name="email" value="<%= usuarioLogeado.email %>" disabled />
          <small class="errores_validacion_profile">
            <%= locals.errores && errores.email ? errores.email.msg : null %>
          </small>

          <label for="password">CONTRASEÑA:</label>
          <div class="main__form__register__password">
            <input type="password" name="password" class="main__form__register__password"
              value="<%= usuarioLogeado.password %>" disabled />
            <small class="errores_validacion_profile">
              <%= locals.errores && errores.password ? errores.password.msg : null %>
            </small>
            <i class="fa-regular fa-eye"></i>
          </div>

          <label for="date">FECHA DE NACIMIENTO: </label>
          <input type="date" name="date" value="<%= usuarioLogeado.date %>" />
          <small class="errores_validacion_profile">
            <%= locals.errores && errores.date ? errores.date.msg : null %>
          </small>

          <label for="locality">LOCALIDAD: </label>
          <input type="TEXT" name="locality" value="<%= usuarioLogeado.locality %>" />
          <small class="errores_validacion_profile">
            <%= locals.errores && errores.locality ? errores.locality.msg : null %>
          </small>

          <label for="aboutMe">SOBRE MI: </label>
          <textarea name="aboutMe" id="aboutMe" cols="30" rows="10"><%= usuarioLogeado.aboutMe %></textarea>
          <small class="errores_validacion_profile">
            <%= locals.errores && errores.aboutMe ? errores.aboutMe.msg : null %>
          </small>

          <label for="image">CAMBIO DE AVATAR: </label>
          <input type="file" name="image" id="image" accept="image/*" value="<%= usuarioLogeado.image %>">
          <small class="imageError">
            <%= locals.errores && errores.image ? errores.image.msg : null %>
          </small>

          <div class="main__form__register__box">
            <div class="container_avatar_img">
              <h3 class="main__form__title">AVATAR: </h3>
              <img class="img_avatar" src="/images/users/<%= usuarioLogeado.image %>" alt="imagen principal">
            </div>

            <button class="main__form__button" type="submit">CONFIRMAR</button>
            <div id="error-message-profileEdit">Por favor, corrija los errores del formulario.</div> 


          </div>
        </form>
      </main>
      <script src="/js/users/validationProfile.js"></script>
      <!--ACA SE INCLUYE EL PARTIAL : -->
      <%- include("../partials/footer.ejs") %>


  </body>

  </html>