<!--ACA SE INCLUYE EL PARTIAL : HEAD -->
<%- include("../partials/head.ejs") %>

<body class="body_home">

  <!--ACA SE INCLUYE EL PARTIAL : HEADER -->
  <%- include("../partials/header.ejs") %>

    <main class="main__form">
      <div class="main__title__box">
        <hr class="main__form__lines">
        <h2 class="main__form__title">PROFILE</h2>
        <hr class="main__form__lines">
      </div>
      <form action="/users/profile/<%= usuarioLogeado.id %>?_method=PUT" method="post" class="main__form__register" >
        <label for="name">NOMBRE</label>
        <input type="text" name="name"  id="name" value="<%= user.name %>"/>

        <label for="email">EMAIL</label>
        <input type="email" name="email"  value="<%= user.email %>"/>

        <label for="password">CONTRASEÑA</label>
        <div class="main__form__register__password">
        <input type="password" name="password" class="main__form__register__password" value="<%= user.password %>"/>
        <i class="fa-regular fa-eye"></i>
        </div>

        <!-- <label for="password2">CONFIRMAR CONTRASEÑA</label>
        <div class="main__form__register__password">
          <input type="password" name="password2" />
          <i class="fa-regular fa-eye"></i> -->
        <!-- </div> -->

        <label for="date">FECHA DE NACIMIENTO: </label>
        <input type="date" name="date"  value="<%= user.date %>"/>

        <label for="localidad">LOCALIDAD: </label>
        <input type="TEXT" name="localidad"  value="<%= user.localidad %>"/>

        <label for="sobremi">SOBRE MI: </label>
        <textarea name="sobremi" id="sobremi" cols="30" rows="10" ><%= user.sobremi %></textarea>





        <label for="image">CAMBIO DE AVATAR: </label>
        <input type="file" name="image" id="image" accept="image/*" value="<%= user.image %>">
        <div class="main__form__register__box">
        
          <div >
            <p class="main__form__title">AVATAR: </p>
              <img class="img_avatar" src="/images/users/<%= user.image %>" alt="imagen principal"  >
          </div>
        
      
        <button class="main__form__button" type="">CONFIRMAR</button>
        </div>
      </form>
    </main>

<!--ACA SE INCLUYE EL PARTIAL : -->
<%- include("../partials/footer.ejs") %>


</body>

</html>