<!--ACA SE INCLUYE EL PARTIAL : HEAD -->
<%- include("../partials/head.ejs") %>

  <body class="update_body">

    <!--ACA SE INCLUYE EL PARTIAL : HEADER -->
    <%- include("../partials/header.ejs") %>


      <main>
        <h2 class="h2_title_form">EDITAR PRODUCTO</h2>
        <form action="/products/update/<%= product.id %>?_method=PUT" method="post" class="form_loadProduct" enctype="multipart/form-data">

          <section class="form__createProduct">

            <div class="inputs_imagenes">
              <div class="img_create_fast" style="position:relative">
                <i class="fa-regular fa-trash-can" style="color:black;position:absolute;right:30px;top:30px;z-index:1" id="delete_img1"></i>

                <input class="dashboard__image" name="image" type="file" accept="image/*" id="image" style="padding:0px" value="<%= product.Image_products[0].filename %>">
                <img id="previewImage" src="/images/products/<%= product.Image_products[0].filename %>" alt="Vista previa de la imagen" class="dashboard__image">
                <p class="errores_validacion_login">
                  <%= locals.errores && errores.image ? errores.image.msg : null %>
                </p>
              </div>

              <div class="div_img_chiquitas">
                <div class="imagen__chiquita_div" style="position:relative">
                  <input class="imagen__chiquita" name="image2" type="file" accept="image/*" id="image2" style="padding:0px" value="<%= product.Image_products[1] ? product.Image_products[1].filename : "default-image.png" %>">
                  <% if(product.Image_products[1]) { %> 
                    <i class="fa-regular fa-trash-can" style="color:black;position:absolute;right:5px;top:5px;z-index:1" id="delete_img2"></i>

                    <img id="previewImage2" src="/images/products/<%= product.Image_products[1].filename  %>" alt="Vista previa de la imagen" class="dashboard__image">
                  <% } else { %>
                    <img id="previewImage2" src="/images/products/<%= product.Image_products[1] %>" alt="Vista previa de la imagen" class="dashboard__image"  style="display:none">

                  <% } %>
                  <p class="errores_validacion_login">
                    <%= locals.errores && errores.image2 ? errores.image2.msg : null %>
                  </p>
                </div>

                <div class="imagen__chiquita_div" style="position:relative">
                  <input class="imagen__chiquita" name="image3" type="file" accept="image/*" id="image3" style="padding:0px" value="<%= product.Image_products[2] ? product.Image_products[2].filename : null %>">
                  <% if(product.Image_products[2]) { %> 
                    <i class="fa-regular fa-trash-can" style="color:black;position:absolute;right:5px;top:5px;z-index:1" id="delete_img3"></i>

                    <img id="previewImage3" src="/images/products/<%= product.Image_products[2].filename  %>" alt="Vista previa de la imagen" class="dashboard__image">
                  <% } else { %>
                    <img id="previewImage3" src="/images/products/<%= product.Image_products[2] %>" alt="Vista previa de la imagen" class="dashboard__image" style="display:none">

                  <% } %>
                  
                  <p class="errores_validacion_login">
                    <%= locals.errores && errores.image3 ? errores.image3.msg : null %>
                  </p>
                </div>

                <div class="imagen__chiquita_div" style="position:relative">
                  <input class="imagen__chiquita" name="image4" type="file" accept="image/*" id="image4" style="padding:0px" value="<%= product.Image_products[3] ? product.Image_products[3].filename : "default-image.png" %>">
                  <% if(product.Image_products[3]) { %> 
                    <i class="fa-regular fa-trash-can" style="color:black;position:absolute;right:5px;top:5px;z-index:1" id="delete_img4"></i>

                    <img id="previewImage4" src="/images/products/<%= product.Image_products[3].filename %>" alt="Vista previa de la imagen" class="dashboard__image" >
                  <% } else { %>
                    <img id="previewImage4" src="/images/products/<%= product.Image_products[3] %>" alt="Vista previa de la imagen" class="dashboard__image" style="display:none">

                    <% } %>
                  <p class="errores_validacion_login">
                    <%= locals.errores && errores.image4 ? errores.image4.msg : null %>
                  </p>
                </div> 

              </div>

            </div>
         

            <div class="update_box_intern">
              <label for="name">Nombre :</label>
              <input type="text" name="name" id="name" value="<%= product.name %>" />
              <small class="errorName">
                <%= locals.errores && errores.name ? errores.name.msg : null %>
              </small>

              <label for="price">Precio :</label>
              <input type="number" name="price" id="price" value="<%= product.price %>" />
              <small class="errorPrice" >
                <%= locals.errores && errores.price ? errores.price.msg : null %>
              </small>

              <label for="category" >Categoría :</label>
              <select name="category" id="category" value="<%= product.Category_products.category %>">
                <option value="1" <%=product.Category_products.category == "Oferta" ? "selected" : null %>>Oferta</option>
                <option value="2"  <%=product.Category_products.category == "Destacado" ? "selected" : null  %>>Destacado</option>
                <option value="3" <%=product.Category_products.category == "Lanzamiento" ? "selected" : null  %>>Lanzamiento</option>
                <option value="4" <%=product.Category_products.category == "Temporada" ? "selected" : null  %>>Temporada</option>
              </select>
              <div>
                <label for="description">Descripción</label>
                <textarea name="description" id="description"><%=product.description %></textarea>
                <small class="errorDescription">
                  <%= locals.errores && errores.description ? errores.description.msg : null %>
                </small>
              </div>
            </div>
            <div class="talles_update">
              <label>Talles :</label>
              <div>
                <input type="checkbox" name="sizes" value="1" <%=product.Sizes.some((pSize) => pSize.size == 36) ? "checked" : null %> id="sizes">
                <label for="sizes" >36</label>
              </div>
              <div>
                <input type="checkbox" name="sizes" value="2" <%=product.Sizes.some((pSize) => pSize.size == 37) ? "checked" : null %> id="sizes">
                <label for="sizes" >37</label>
              </div>           
              <div>
                <input type="checkbox" name="sizes" value="3" <%=product.Sizes.some((pSize) => pSize.size == 38) ? "checked" : null %> id="sizes">
                <label for="sizes" >38</label>
              </div>           
              <div>
                <input type="checkbox" name="sizes" value="4" <%=product.Sizes.some((pSize) => pSize.size == 39) ? "checked" : null %> id="sizes" >
                <label for="sizes" >39</label>
              </div>            
              <div>
                <input type="checkbox" name="sizes" value="5" <%=product.Sizes.some((pSize) => pSize.size == 40) ? "checked" : null %> id="sizes">
                <label for="sizes" >40</label>
              </div>          
              <div>
                <input type="checkbox" name="sizes" value="6" <%=product.Sizes.some((pSize) => pSize.size == 41) ? "checked" : null %> id="sizes">
                <label for="sizes" >41</label>
              </div>                  
              <div>
                <input type="checkbox" name="sizes" value="7" <%=product.Sizes.some((pSize) => pSize.size == 42) ? "checked" : null %> id="sizes">
                <label for="sizes" >42</label>
              </div>         
              <div>
                <input type="checkbox" name="sizes" value="8" <%=product.Sizes.some((pSize) => pSize.size == 43) ? "checked" : null %> id="sizes">
                <label for="sizes" >43</label>
              </div>        
              <div>
                <input type="checkbox" name="sizes" value="9" <%=product.Sizes.some((pSize) => pSize.size == 44) ? "checked" : null %> id="sizes">
                <label for="sizes" >44</label>
              </div>            
              <div>
                <input type="checkbox" name="sizes" value="10" <%=product.Sizes.some((pSize) => pSize.size == 45) ? "checked" : null %> id="sizes">
                <label for="sizes" >45</label>
              </div>  
              </div>

              <div class="input_colores_create">
                <label class="label_colores" for="color">Color :</label>
                
              <select name="color" id="color" >                                           
                <option value="Azules" <%=product.color == "Azules" ? "selected" : null %>>Azules</option>
                <option value="Beige" <%=product.color == "Beige" ? "selected" : null %>>Beige</option>
                <option value="Blancas" <%=product.color == "Blancas" ? "selected" : null %>>Blancas</option>
                <option value="Grises" <%=product.color == "Grises" ? "selected" : null %>>Grises</option>
                <option value="Marrones" <%=product.color == "Marrones" ? "selected" : null %>>Marrones</option>
                <option value="Negras" <%=product.color == "Negras" ? "selected" : null %>>Negras</option>
                <option value="Rojas" <%=product.color == "Rojas" ? "selected" : null %>>Rojas</option>
                <option value="Rosadas" <%=product.color == "Rosadas" ? "selected" : null %>>Rosadas</option>
              </select>
            
              </div> 
              <small class="errores_validacion_login sizesError">
                <%= locals.errores && errores.sizes ? errores.sizes.msg : null %>
              </small>
            </div>
          
          </section>
        <button class="main_ver-todos-productos" type="submit">ACTUALIZAR PRODUCTO</button>     
        <div id="error-message-updateProduct">Por favor, corrija los errores en el formulario.</div> 
      </form>

      </main>
        <script src="/js/products/updateProduct.js"></script>
        <script src="/js/products/previewImage.js"></script>
      <!--ACA SE INCLUYE EL PARTIAL : -->
      <%- include("../partials/footer.ejs") %>
  </body>
  </html>