<!--ACA SE INCLUYE EL PARTIAL : HEAD -->
<%- include("../partials/head.ejs") %>

  <body class="update_body">

    <!--ACA SE INCLUYE EL PARTIAL : HEADER -->
    <%- include("../partials/header.ejs") %>


      <main>
        <h2 class="h2_title_form">EDITAR PRODUCTO</h2>
        <form action="/products/update/<%= product.id %>?_method=PUT" method="post" class="form_loadProduct" enctype="multipart/form-data">

          <section class="form__createProduct">
            <div class="img_update_fast">
              <img src="/images/products/<%= product.Image_products[0].filename %>" alt="imagen principal" class="imagen_grande input_edit_img">
              <input class="dashboard__image" name="image" id="image" type="file" accept="image/*" value="<%= product.Image_products[0].filename %>">
              <small class="imageError">
                <%= locals.errores && errores.image ? errores.image.msg : null %>
              </small>
            </div>

            <div class="update_box_intern">
              <label for="name">Nombre :</label>
              <input type="text" name="name" id="name" value="<%= product.name %>" />
              <small class="errorName">
                <%= locals.errores && errores.name ? errores.name.msg : null %>
              </small>

              <label for="price">Precio :</label>
              <input type="number" name="price" id="price" value="<%= product.price %>" />
              <small class="errorPrice" >
                <%= locals.errores && errores.price ? errores.price.msg : null %>
              </small>

              <label for="category" >Categoría :</label>
              <select name="category" id="category" value="<%= product.Category_products.category %>">
                <option value="1" <%=product.Category_products.category == "Oferta" ? "selected" : null %>>Oferta</option>
                <option value="2"  <%=product.Category_products.category == "Destacado" ? "selected" : null  %>>Destacado</option>
                <option value="3" <%=product.Category_products.category == "Lanzamiento" ? "selected" : null  %>>Lanzamiento</option>
                <option value="4" <%=product.Category_products.category == "Temporada" ? "selected" : null  %>>Temporada</option>
              </select>
              <div>
                <label for="description">Descripción</label>
                <textarea name="description" id="description"><%=product.description %></textarea>
                <small class="errorDescription">
                  <%= locals.errores && errores.description ? errores.description.msg : null %>
                </small>
              </div>
            </div>
            <div class="talles_update">
              <label>Talles :</label>
              <div>
                <input type="checkbox" name="sizes" value="1" <%=product.Sizes.some((pSize) => pSize.size == 36) ? "checked" : null %> id="sizes">
                <label for="sizes" >36</label>
              </div>
              <div>
                <input type="checkbox" name="sizes" value="2" <%=product.Sizes.some((pSize) => pSize.size == 37) ? "checked" : null %> id="sizes">
                <label for="sizes" >37</label>
              </div>           
              <div>
                <input type="checkbox" name="sizes" value="3" <%=product.Sizes.some((pSize) => pSize.size == 38) ? "checked" : null %> id="sizes">
                <label for="sizes" >38</label>
              </div>           
              <div>
                <input type="checkbox" name="sizes" value="4" <%=product.Sizes.some((pSize) => pSize.size == 39) ? "checked" : null %> id="sizes" >
                <label for="sizes" >39</label>
              </div>            
              <div>
                <input type="checkbox" name="sizes" value="5" <%=product.Sizes.some((pSize) => pSize.size == 40) ? "checked" : null %> id="sizes">
                <label for="sizes" >40</label>
              </div>          
              <div>
                <input type="checkbox" name="sizes" value="6" <%=product.Sizes.some((pSize) => pSize.size == 41) ? "checked" : null %> id="sizes">
                <label for="sizes" >41</label>
              </div>                  
              <div>
                <input type="checkbox" name="sizes" value="7" <%=product.Sizes.some((pSize) => pSize.size == 42) ? "checked" : null %> id="sizes">
                <label for="sizes" >42</label>
              </div>         
              <div>
                <input type="checkbox" name="sizes" value="8" <%=product.Sizes.some((pSize) => pSize.size == 43) ? "checked" : null %> id="sizes">
                <label for="sizes" >43</label>
              </div>        
              <div>
                <input type="checkbox" name="sizes" value="9" <%=product.Sizes.some((pSize) => pSize.size == 44) ? "checked" : null %> id="sizes">
                <label for="sizes" >44</label>
              </div>            
              <div>
                <input type="checkbox" name="sizes" value="10" <%=product.Sizes.some((pSize) => pSize.size == 45) ? "checked" : null %> id="sizes">
                <label for="sizes" >45</label>
              </div>  
              </div>

              <div class="input_colores_create">
                <label class="label_colores" for="color">Color :</label>
                
              <select name="color" id="color" >                                           
                <option value="Azul" <%=product.color == "Azul" ? "selected" : null %>>Azul</option>
                <option value="Beige" <%=product.color == "Beige" ? "selected" : null %>>Beige</option>
                <option value="Blanco" <%=product.color == "Blanco" ? "selected" : null %>>Blanco</option>
                <option value="Gris" <%=product.color == "Gris" ? "selected" : null %>>Gris</option>
                <option value="Marron" <%=product.color == "Marron" ? "selected" : null %>>Marron</option>
                <option value="Negro" <%=product.color == "Negro" ? "selected" : null %>>Negro</option>
                <option value="Rojo" <%=product.color == "Rojo" ? "selected" : null %>>Rojo</option>
                <option value="Rosa" <%=product.color == "Rosa" ? "selected" : null %>>Rosa</option>
              </select>
            
              </div> 
              <small class="errores_validacion_login sizesError">
                <%= locals.errores && errores.sizes ? errores.sizes.msg : null %>
              </small>
            </div>
          
          </section>
        <button class="main_ver-todos-productos" type="submit">ACTUALIZAR PRODUCTO</button>     
        <div id="error-message-updateProduct">Por favor, corrija los errores en el formulario.</div> 
      </form>

      </main>
        <script src="/js/products/updateProduct.js"></script>
      <!--ACA SE INCLUYE EL PARTIAL : -->
      <%- include("../partials/footer.ejs") %>
  </body>
  </html>