<!--ACA SE INCLUYE EL PARTIAL : HEAD -->
<%- include("../partials/head.ejs") %>

<body>

  <!--ACA SE INCLUYE EL PARTIAL : HEADER -->
  <%- include("../partials/header.ejs") %>

    <main>
      <p><a class="redirect-detalle" href="/">Inicio</a> > <a class="redirect-detalle" href="/products"> Categoria </a>> Detalle ><%= product.nombre%></a>
      <article class="producto">
        <div class="imagenes_pequeñas">
          <img src="/images/products/nike9.webp" alt="miniatura" class="imagen_pequeña">
          <img src="/images/products/nike8.webp"
            alt="miniatura" class="imagen_pequeña">
          <img src="/images/products/nike6.webp" alt="miniatura" class="imagen_pequeña">
        </div>
        <img src="/images/products/<%= product.imagen%>" alt="imagen principal" class="imagen_grande">
        <div class="detalles">
          <h2><%= product.nombre%></h2>
          <h2>$<%= product.precio %></h2>
          <div class="select-options-details-products">
          <div class="detalles_talles">
            <p>Talles</p>
            <select name="talles" id="" class="numero">
              <% product.talles.forEach(talles => { %>
              <option value=<%= talles %>><%= talles%></option>
              <% })%>
            </select>
          </div>
          <div class="detalles_cantidad">
            <p>Cantidad</p>
            <input type="number" class="numero" value="1">
          </div>
          <div class="detalles_color">
            <p>Colores</p>
            <select name="color" id="" class="numero">
              <option value=<%= product.color %>><%= product.color %></option>
              </select>
            </div>
          <a href="/products/carrito/<%= product.id%>">
          </div>
            <p class="main_carrito">Agregar al carrito</p>
          </a>
        </div>
      </article>
      <div class="detalles_div_descripcion">
        <h3>Descripción</h3>
        <p class="detalles_div_descripcion_p">
          <%= product.descripcion %>
        </p>
      </div>
      <a href="/products">
        <p class="main_ver-todos-productos">VER TODOS LOS PRODUCTOS</p>
      </a>
    </main>

<!--ACA SE INCLUYE EL PARTIAL : -->
<%- include("../partials/footer.ejs") %>


</body>

</html>